<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--  ADD FONTS HERE     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

  <!-- Bootstrap CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
  <title>Video Chat App</title>
  <style>
    body {
      overflow-x: hidden;
    }
  </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" style="background-image:url(https://wallpapercave.com/wp/bYp71HX.jpg);">


  <div class="row">
    <div class="col-sm-4">
      <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #222;">
        <a style="color: white; font-size: 16px;" class="navbar-brand" href="#">
          Video Call App
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <% if(newUser) { %>
              <li class="nav-item">
                <a class="nav-link" href="/<%= newUser._id %>/join">Join</a>
              </li>
            <% } %>
            <% if(!newUser) { %>
                <li class="nav-item" style="position: fixed; right: 100px;">
                  <span class="glyphicon glyphicon-user"></span>
                  <a class="nav-link" href="/register">Sign Up</a>
                </li>
                <li class="nav-item" style="position: fixed; right: 30px;">
                  <span class="glyphicon glyphicon-log-in"></span>
                  <a class="nav-link" href="/login">Login</a>
                </li>
            <% } else { %>
              <li class="nav-item" style="position: fixed; right: 100px;">
                <a class="nav-link" href="/myprofile/<%= newUser._id %>">
                  <img src="<%= newUser.profileUrl %>" style="width: 20px; height: 20px; border-radius: 50%; box-shadow: none;">
                  <p style="display: inline-block; padding-left: 6px;"><%= newUser.username %><p>
                </a>
              </li>
              <li class="nav-item" style="position: fixed; right: 30px;">
                <span class="glyphicon glyphicon-log-out"></span>
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            <% } %>
          </ul>
        </div>
      </nav>
    </div>

    <div class="col-sm-8">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
         <span class="navbar-toggler-icon"></span>
       </button>
    </div>
  </div>



  <div id="section1" class="container-fluid" style="padding-top:25px;">
    <div class="container">
        <% if(error && error.length>0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length>0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    <center style="">
      <div class="jumbotron" style="background-color: #0000004a; width: 80%; border-radius: 15px;">
        <img src="https://profile-video-image-uploads.s3.ap-south-1.amazonaws.com/call.png" alt="" style="width: 200px; padding-right: 50px;">
        <p style="font-family: Lucida Handwriting; color: white; font-size: 45px; text-align: center; display: inline; position: static; top: 150px;">Welcome to Video Chat App.</p>
      </div>
    </center>
    <div>
      <p style="color: white; text-align: center; display: inline-block; padding-left: 50px; padding-right: 80px;">
        Video Chatting is a communication technology that has the ability<br/>
        to meet with people in remote locations without incurring travel expenses or other expenses <br/>
        associated with face to face communication. Business meetings, educational meetings, healthcare <br/>
        conferences and more can all be easily conducted thanks to video conferencing technology. <br/>
        Individuals living in remote areas can also use video conferencing to keep in touch if you will, <br/>
        with the world at large.<br/>
      </p>
      <div style="display: inline-block;">
      <img style="border-radius: 5px; max-width: 500px; width: 100%;" src="https://profile-video-image-uploads.s3.ap-south-1.amazonaws.com/join.png" alt="Video Call Image">
      </div>
    </div>
  </div>

</body>
</html>
