
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <!-- <link rel="stylesheet" href="./../join.css"> -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
  <title>Video Chat App</title>
  <style>
    body {
      overflow-x: hidden;
    }
    .span4 img {
        width: 600px;
        margin-right: 10px;
    }
    .span4 .img-left {
        float: left;
    }
    .span4 .img-right {
        float: right;
        width: 100%;
        max-width: 600px;
        height: auto;
        /* padding-top: 60px; */
        box-shadow: 5px 10px 8px 5px black;
    }
    #or {
       color: white;
       padding-right: 2rem;
       padding-left: 2rem;
    }
    #form2 {
      padding-top: 0rem;
      display: inline;
    }

    #form1 {
       padding-left: 5rem;
       display: inline;
    }

    #btn1 {
      height: 40px;
      width: 250px;
    }

    #btn2 {
      height: 40px;
      width: 60px;
    }

    #input1 {
      height: 40px;
      width: 200px;
      text-align: center;
    }
  </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" style="background-image:url(https://wallpapercave.com/wp/bYp71HX.jpg);">


  <div class="row">
    <div class="col-sm-4">
      <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #222;">
        <a style="color: white; font-size: 16px;" class="navbar-brand" href="#">
          Video Call App
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <% if(newUser) { %>
              <li class="nav-item">
                <a class="nav-link" href="/">Join</a>
              </li>
            <% } %>
            <% if(!newUser) { %>
                <li class="nav-item" style="position: fixed; right: 100px;">
                  <span class="glyphicon glyphicon-user"></span>
                  <a class="nav-link" href="/register">Sign Up</a>
                </li>
                <li class="nav-item" style="position: fixed; right: 30px;">
                  <span class="glyphicon glyphicon-log-in"></span>
                  <a class="nav-link" href="/login">Login</a>
                </li>
            <% } else { %>
              <li class="nav-item" style="position: fixed; right: 100px;">
                <a class="nav-link" href="/myprofile/<%= newUser._id %>">
                  <img src="<%= newUser.profileUrl %>" style="width: 20px; height: 20px; border-radius: 50%; box-shadow: none;">
                  <p style="display: inline-block; padding-left: 6px;"><%= newUser.username %><p>
                </a>
              </li>
              <li class="nav-item" style="position: fixed; right: 30px;">
                <span class="glyphicon glyphicon-log-out"></span>
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            <% } %>
          </ul>
        </div>
      </nav>
    </div>

    <div class="col-sm-8">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
         <span class="navbar-toggler-icon"></span>
       </button>
    </div>
  </div>



  <div id="section1" class="container-fluid" style="padding-top:25px;">
    <div class="container">
        <% if(error && error.length>0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length>0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>


    <div class="block">
        <div class="row">
          <div class="span4" style="width: 100%; padding: 60px; padding-top: 150px;">
            <img class="img-right" src="https://www.cnet.com/a/img/L25_mhBJJSvo4gPDIlVnCDjlLos=/940x0/2019/04/05/dca690a2-c5ae-416a-aade-a758b76bd2c7/skype.jpg"/>
            <div class="content-heading"><h3 style="color: white; padding-top: 30px;">Video Call App</h3></div>
            <p style="color: white; padding-bottom: 60px;"><br>Video conferencing is a technology that allows users in
              different locations to hold face-to-face meetings without
              having to move to a single location together.
              This technology is particularly convenient for business
              users in different cities or even different countries because
              it saves time, expenses, and hassles associated with business travel.</p>
              <form action='/<%= user._id %>/join' method="POST" id="form1">
                  <button id="btn1" class="btn btn-success">Create a new meeting</button>
              </form>
              <form action='/<%= user._id %>/joinExisting' method="POST" id="form2">
                <span id="or"> OR </span>
                  <input id="input1" class="form-rounded" type="text" name="existingRoom" placeholder="Enter a code">
                  <button class="btn btn-success" id="btn2">Join</button>
              </form>
          </div>
       </div>
    </div>

  </div>
</body>
 </html>
