<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="profile.css">
</head>
<body>

<h2 style="text-align:center; color: white; font-size: 40px;"><%= user.firstname %> <%= user.lastname %>'s Profile</h2>

<div class="card" style="background-color: white; width: 500px; height: 500px; padding-top: 40px;">
  <img src="https://st.depositphotos.com/2101611/3925/v/600/depositphotos_39258143-stock-illustration-businessman-avatar-profile-picture.jpg" alt="John">
  <h1><%= user.firstname %> <%= user.lastname %></h1>
  <p class="title">Username: <%= user.username %></p>
  <p>Email: <%= user.email %></p>
</div>

</body>
</html>
